extends layout

block content
    form(action = "", method="post")
        table
            thead
                tr
                    th(align="left") Site Pattern
                    th(align="left") Date
                    th(align="left") Delete
            tbody
                each value, key in Object.entries(sites).sort((a, b) => a[0] > b[0]).concat([[]])
                    tr
                        td
                            if value[0] === '*'
                                input(type = "hidden", name="[" + key + "][0]", value="*")
                                input(type = "text", disabled="disabled", value="*")
                            else
                                input(type = "text", name="[" + key + "][0]", value=value[0])
                        td
                            input(type = "text", name="[" + key + "][1]", value=value[1])
                        td
                            if value[0] === '*'
                                input(type = "checkbox", disabled="disabled")
                            else if value[0]
                                input(type = "checkbox", name="[" + key + "][2]")
                            else
                tr
                    td(colspan="3")
                        input(type = "submit", value="Save")
